@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

*{
    box-sizing:border-box;
    margin: 0;
    padding:0;
}
:root{
    --primary-color:#7E0505;
    --secondary-color:black;
    --third-color:white;
    --primary-font: 'Schoolbell', cursive;
}

body{
    background-color: var(--primary-color);
    font-family:var(--primary-font);
    
}
.second-header{
    background-color:var(--secondary-color);
    color:var(--primary-color);
    height:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.second-header .header-title{
    font-family: 'Lobster', cursive;
    font-size:30px;
    padding:25px;
}
.second-header a{
    text-decoration: none;
    font-size:20px;
    color:var(--primary-color);
    padding:25px;
}
.container{
    position: relative;
    width:400px;
    height: 500px;
    background-color:var(--secondary-color);
    box-shadow:0  15px 140px var(--secondary-color);
    overflow: hidden;
    color:var(--third-color);
    margin:100px auto;
    
}
.container section{
    text-align: center;
    margin:30px 30px;
}
.container section h1{
    margin-bottom:30px;
}
.container section a{
    text-decoration: none;
    background-color:var(--primary-color);
    padding:20px 40px;
    color:var(--third-color);
}